<div class="navbar" style="height: 74px;">
  <div class="wrapper" style="width: 90%; margin: 0 auto;display:flex; align-items: center; justify-content: space-between">
    <h1><span>Nikah</span>Minus</h1>

    <div>
      <span style="font-family: 'Open Sans', sans-serif;">Muslim</span>
      <mat-form-field appearance="standart" style="width: 20px;">
        <mat-select>
          <mat-option>
            <p style="display:flex; align-items: center">
            <span class="material-icons">
              help_outline
            </span>
              <span style="padding-left: 5px;">Помощь</span>
            </p>
          </mat-option>
          <mat-option>
            <p style="display:flex; align-items: center">
            <span class="material-icons">
              logout
            </span>
              <span style="padding-left: 5px;">Выйти</span>
            </p>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div></div>

</div>
<div class="navbar-links" style="height: 46px; display:flex; align-items: center; background: #e7eff5">
  <div class="wrapper" style="width: 90%; margin: 0 auto;">
    <ul style="display: flex; padding: 0;">
      <li><a routerLink="/profile">Профиль</a></li>
<!--      <li><a [routerLink]="['/profile/photo']">Фото</a></li>-->
      <li><a routerLink="/search">Поиск</a></li>
      <li><a>Сообщения</a></li>
      <li><a>Уведомления</a></li>
      <li><a>Настройки</a></li>
    </ul>
  </div>

</div>

