<form [formGroup]='form'>
  <div style='display: flex; flex-direction: column; align-items:  center'>
    <mat-form-field appearance="fill">
      <mat-label>Рост</mat-label>
      <mat-select formControlName='height'>
        <mat-option *ngFor="let height of heights" [value]='height'>
          {{height}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Вес</mat-label>
      <mat-select formControlName='weight'>
        <mat-option *ngFor="let weight of weights" [value]="weight">
          {{weight}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
