<form [formGroup]='form'>
  <div style='display: flex; flex-direction: column; align-items:  center'>
    <mat-form-field appearance="fill">
      <mat-label>Рост</mat-label>
      <mat-select (valueChange)='selectValueChange("height", $event)'>
        <mat-option *ngFor="let height of heights" [value]='height'>
          {{height}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Вес</mat-label>
      <mat-select (valueChange)='selectValueChange("weight", $event)'>
        <mat-option *ngFor="let weight of weights" [value]="weight">
          {{weight}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Телосложение</mat-label>
      <mat-select (valueChange)='selectValueChange("bodyType", $event)'>
        <mat-option *ngFor="let bodyType of bodyTypes$ | async" [value]="bodyType">
          {{bodyType}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Цвет глаз</mat-label>
      <mat-select (valueChange)='selectValueChange("eyeColor", $event)'>
        <mat-option *ngFor="let eyeColor of eyeColors$ | async" [value]="eyeColor">
          {{eyeColor}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Цвет волос</mat-label>
      <mat-select (valueChange)='selectValueChange("hairColor", $event)'>
        <mat-option *ngFor="let hairColor of hairColors$ | async" [value]="hairColor">
          {{hairColor}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Растительность на лице</mat-label>
      <mat-select (valueChange)='selectValueChange("facialHair", $event)'>
        <mat-option *ngFor="let facialHair of facialHairs$ | async" [value]="facialHair">
          {{facialHair}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
