.add-todo {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.hr {
  border-bottom: 1px solid #ccc;
}

mat-card-title{
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin: 0;
  }
}

.priority {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin: 0;
  }
}

.descr{
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;

}

.example-card {
  //width: 180px;
  margin: 5px;

  .options {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .lowest {
      color: rgb(6, 196, 6);
    }
    .low {
      color: green;
    }
    .high {
      color: orange;
    }
    .highest {
      color: red;
    }
    .medium {
      color: yellow;
    }
  }
}


