.add-todo {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.hr {
  border-bottom: 1px solid #ccc;
}

.descr{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-grid-tile .mat-figure{
  height: 130px;
}

mat-card-header{
  display: flex;
  justify-content: space-around;
  align-items: end;
}

.example-card {
  width: 200px;
  max-width: 400px;

  .options {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .lowest {
      color: rgb(6, 196, 6);
    }
    .low {
      color: green;
    }
    .high {
      color: orange;
    }
    .highest {
      color: red;
    }
    .medium {
      color: yellow;
    }
  }
}
