

mat-form-field.mat-form-field {
  width: 45px;
  padding-top: 10px;
}

.menu-spacer {
  flex: 1 1 auto;
}

.show {
  height: 100vh;
}

.sidenav {
  background: #eee;
  transform: none;
  visibility: visible !important;
}


.hidden {
  box-shadow: none;
  visibility: hidden;
}

