mat-sidenav-container.mat-drawer-container.mat-sidenav-container.mat-drawer-transition {
  position: absolute;
  z-index: 99;
  height: 100%;
  min-width: 12%;
  display: none;
  border-right: 1px solid #ccc;

  &.mat-drawer-container-has-open {
    display: block;
  }
}

mat-form-field.mat-form-field {
  width: 45px;
  padding-top: 10px;
}

.menu-spacer {
  flex: 1 1 auto;
}
