<div style="background: #d0deeb;  padding: 30px; ">
  <div class="wrapper" style="max-width: 90%; margin: 0 auto;">
    <div style="display: flex; justify-content: space-between;">

      <div class="left" style="width: 26%">
        <mat-card class="example-card">
          <div class="profile-image">
            <p>{{person.name}}</p>
          </div>
          <p>Репутация: {{person.reputation}}</p>
          <mat-progress-bar
            mode="determinate"
            value="{{person.reputation}}"
            style="max-width: 264px;">
          </mat-progress-bar>
          <a style="font-size: 14px; color: #3f51b5">Что такое репутация?</a>
          <mat-card-content style="margin-top: 10px;">
            <h2>Ваш ID: {{person.id}}</h2>
          </mat-card-content>
        </mat-card>

        <mat-card class="example-card" style="margin-top: 20px;">
          <button mat-button>
            <mat-icon>visibility</mat-icon>
            <span>Гости</span>
          </button>
          <button mat-button>
            <mat-icon>visibility</mat-icon>
            <span>Просмотренные анкеты</span>
          </button>
          <button mat-button>
            <mat-icon>favorite_border</mat-icon>
            <span>Избранное</span>
          </button>
          <button mat-button>
            <mat-icon>person_add_alt</mat-icon>
            <span> Входящие запросы</span>
          </button>
          <button mat-button>
            <mat-icon>emoji_people</mat-icon>
            <span>Исходящие запросы</span>
          </button>
          <button mat-button>
            <mat-icon>perm_identity</mat-icon>
            <span> Показать мою анкету</span>
          </button>
        </mat-card>
      </div>
      <router-outlet></router-outlet>
      <div class="right" style="width: 70%">
        <mat-card style="padding: 24px">
          <div class="text" style="display: flex; justify-content: space-between">
            <p>Заполнение анкеты: {{person.filling}}%</p>
            <a style="margin-top: 15px; color: #3f51b5">Изменить анкету</a>
          </div>
          <mat-progress-bar
            mode="determinate"
            style="height: 15px;"
            value="{{person.filling}}">
          </mat-progress-bar>
        </mat-card>
      </div>

    </div>
  </div>
</div>


