p, span, a {
  font-family: 'Open Sans', sans-serif;
}

span {
  padding-left: 10px;
}

.example-card {
  max-width: 264px;
  padding: 20px;
}

.profile-image{
  max-width: 264px;
  height: 232px;
  background-image: url('https://forum-translational-medicine.org/files/Bio-M/ftm/Ungerer.jpg');
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.profile-image p{
  padding-left: 20px;
}
