<form [formGroup]='form'>
  <div style='display: flex; flex-direction: column; align-items:  center'>
    <mat-form-field appearance="fill">
      <mat-label>Страна проживания</mat-label>
      <mat-select (valueChange)='selectValueChange("country", $event)'>
        <mat-option *ngFor="let country of countries$ | async" [value]='country'>
          {{country.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Город или местность</mat-label>
      <mat-select (valueChange)='selectValueChange("city", $event)'>
        <mat-option *ngFor="let city of cities$ | async" [value]="city">
          {{city.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Национальность</mat-label>
      <mat-select (valueChange)='selectValueChange("nationality", $event)'>
        <mat-option *ngFor="let nationality of nationalities$ | async" [value]="nationality">
          {{nationality.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
