<form
  [formGroup]="form"
  (ngSubmit)="createTodo()"
>
  <div class="create">
    <div class="create__inputs">
      <mat-form-field class="example-full-width">
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput placeholder="Title" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Priority</mat-label>
        <mat-select formControlName="priority">
          <mat-option value="Lowest">Lowest </mat-option>
          <mat-option value="Low">Low</mat-option>
          <mat-option value="High">High</mat-option>
          <mat-option value="Highest">Highest</mat-option>
          <mat-option value="Medium">Medium</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="create__editor">
      <quill-editor formControlName="description"></quill-editor>
    </div>
  </div>

  <mat-form-field>
    <mat-label>Reporter</mat-label>
    <mat-select formControlName="reporterId">
      <mat-option *ngFor="let user of users" value="{{user.id}}">{{user.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Assignees</mat-label>
    <mat-select formControlName="assigneesId">
      <mat-option *ngFor="let user of users" value="{{user.id}}">{{user.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="create-btns">
    <button
      [disabled]="form.invalid"
      mat-flat-button
      color="primary"
      type="submit"
    >
      Create todo
    </button>
    <button class="btn-cancel" mat-flat-button>Cancel</button>
  </div>
</form>
