<form [formGroup]='form'>
  <div style='display: flex; flex-direction: column; align-items:  center'>

   <div style="display: flex">
     <mat-form-field appearance="fill">
       <mat-label>От</mat-label>
       <mat-select (valueChange)='selectValueChange("ageOf", $event)'>
         <mat-option *ngFor="let ageOf of ageOfs" [value]='ageOf'>
           {{ageOf}}
         </mat-option>
       </mat-select>
     </mat-form-field>

     <mat-form-field appearance="fill">
       <mat-label>До</mat-label>
       <mat-select (valueChange)='selectValueChange("ageUp", $event)'>
         <mat-option *ngFor="let ageUp of ageUps" [value]='ageUp'>
           {{ageUp}}
         </mat-option>
       </mat-select>
     </mat-form-field>
   </div>

   <div style="display: flex">
     <mat-form-field appearance="fill">
       <mat-label>От</mat-label>
       <mat-select (valueChange)='selectValueChange("heightsOf", $event)'>
         <mat-option *ngFor="let heightsOf of heightsOfs" [value]='heightsOf'>
           {{heightsOf}}
         </mat-option>
       </mat-select>
     </mat-form-field>

     <mat-form-field appearance="fill">
       <mat-label>До</mat-label>
       <mat-select (valueChange)='selectValueChange("heightsUp", $event)'>
         <mat-option *ngFor="let heightsUp of heightsUps" [value]='heightsUp'>
           {{heightsUp}}
         </mat-option>
       </mat-select>
     </mat-form-field>
   </div>

    <div style="display: flex">
      <mat-form-field appearance="fill">
        <mat-label>От</mat-label>
        <mat-select (valueChange)='selectValueChange("weightsOf", $event)'>
          <mat-option *ngFor="let weightsOf of weightsOfs" [value]='weightsOf'>
            {{weightsOf}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>До</mat-label>
        <mat-select (valueChange)='selectValueChange("weightsUp", $event)'>
          <mat-option *ngFor="let weightsUp of weightsUps" [value]='weightsUp'>
            {{weightsUp}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Телосложение</mat-label>
      <mat-select (valueChange)='selectValueChange("bodyType", $event)'>
        <mat-option *ngFor="let bodyType of bodyTypes$ | async" [value]="bodyType">
          {{bodyType}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Вероубеждение</mat-label>
      <mat-select (valueChange)='selectValueChange("belief", $event)'>
        <mat-option *ngFor="let belief of beliefs$ | async" [value]="belief">
          {{belief}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!--    <mat-form-field appearance="fill">-->
    <!--      <mat-label>О ней</mat-label>-->
    <!--        <input type="email" matInput placeholder="О себе">-->
    <!--    </mat-form-field>-->

    <!--    <mat-form-field appearance="fill">-->
    <!--      <mat-label>Характер</mat-label>-->
    <!--        <input type="email" matInput placeholder="Хобби и интересы">-->
    <!--    </mat-form-field>-->

    <mat-form-field appearance="fill">
      <mat-label>Дети</mat-label>
      <mat-select (valueChange)='selectValueChange("children", $event)'>
        <mat-option *ngFor="let children of childrens$ | async" [value]="children">
          {{children}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
