<div class="demos">
  <div class="demos__add-todo">
    <mat-form-field>
      <mat-label>Найти Todo...</mat-label>
      <input matInput [(ngModel)]="searchStr" />
    </mat-form-field>
    <button (click)="createTodo()" color="primary" mat-flat-button>
      Add todo
    </button>
  </div>
  <div class="demos__content">
    <mat-card
      class="demos__content_example-card"
      *ngFor="let todo of todos$ | async | searchTodo: searchStr"
      (click)="editTodo(todo.id)"
    >
      <mat-card-header>
        <mat-card-title>
          <p>{{ todo.title }}</p>
        </mat-card-title>
      </mat-card-header>
      <mat-card-actions class="priority">
        <div class="options">
          <img
            mat-card-image
            [src]="user$.value?.avatarUrl"
            alt="Photo of a Shiba Inu"
          />
          <div class="priority__item">
            <p>{{ todo.priority }}</p>
            <span
              *ngIf="
                todo.priority == 'Low' || todo.priority == 'Lowest';
                else upward
              "
              [class.low]="todo.priority === 'Low'"
              [class.lowest]="todo.priority === 'Lowest'"
              class="material-icons"
            >
              arrow_downward
            </span>
            <ng-template #upward>
              <span
                [class.medium]="todo.priority === 'Medium'"
                [class.high]="todo.priority === 'High'"
                [class.highest]="todo.priority === 'Highest'"
                class="material-icons"
              >
                arrow_upward
              </span>
            </ng-template>
          </div>
        </div>
        <button
          mat-icon-button
          color="warn"
          aria-label="Example icon button with a heart icon"
          (click)="removeTodo(todo.id, $event)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
