<mat-tab-group animationDuration="0ms" mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
  <mat-tab label="Общая информация">
    <ilnur-common-info></ilnur-common-info>
  </mat-tab>
  <mat-tab label="Внешний вид">
    <ilnur-looks></ilnur-looks>
  </mat-tab>
  <mat-tab label="Образ жизни">
    <ilnur-lifestyle></ilnur-lifestyle>
  </mat-tab>
  <mat-tab label="Работа и образование">
    <ilnur-work></ilnur-work>
  </mat-tab>
  <mat-tab label="Семейное положение">
    <ilnur-maritalstatus></ilnur-maritalstatus>
  </mat-tab>
  <mat-tab label="Будущий супруг">
    <ilnur-spouse></ilnur-spouse>
  </mat-tab>
  <mat-tab label="Религия">
    <ilnur-religion></ilnur-religion>
  </mat-tab>
  <mat-tab label="Дополнительная информация">
    <ilnur-additionally></ilnur-additionally>
  </mat-tab>
</mat-tab-group>
