<form [formGroup]='form'>
  <div style='display: flex; flex-direction: column; align-items:  center'>
    <mat-form-field appearance="fill">
      <mat-label>Образование</mat-label>
      <mat-select (valueChange)='selectValueChange("education", $event)'>
        <mat-option *ngFor="let education of educations$ | async" [value]='education'>
          {{education}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Профессия или род деятельности</mat-label>
        <input type="text" (change)='selectValueInputChange("profession", $event)' matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Форма занятости</mat-label>
      <mat-select (valueChange)='selectValueChange("employmentForm", $event)'>
        <mat-option *ngFor="let employment of employments$ | async" [value]="employment">
          {{employment}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Должность</mat-label>
        <input type="text" (change)='selectValueInputChange("position", $event)' matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Финансовое положение</mat-label>
      <mat-select (valueChange)='selectValueChange("financialCondition", $event)'>
        <mat-option *ngFor="let financial of financials$ | async" [value]="financial">
          {{financial}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Знание языков</mat-label>
      <mat-select multiple (valueChange)='selectValueChange("language", $event)' >
        <mat-option *ngFor="let language of languages$ | async" [value]="language">{{language}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>
</form>
