form {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 350px;


  //.example {
  //  width: 400px;
  //  display: flex;
  //  justify-content: space-between;
  //
  //  .example-width {
  //    width: 180px;
  //  }
  //}
  //
  .example-full-width {
    width: 400px;
  }

  .edit-btn {
    width: 100px;
  }
}
