form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .example {
    width: 400px;
    display: flex;
    justify-content: space-between;

    .example-width {
      width: 180px;
    }
  }

  .example-full-width {
    width: 400px;
  }

  .edit-btn {
    width: 100px;
  }
}
