form {
  display: flex;
  width: 600px;
  height: 350px;

  .example-left {
    width: 65%;
  }

  .example-right {
    width: 35%;
  }

  .example-full-width {
    width: 200px;
  }

  .edit-btn {
    width: 100px;
  }
}
